@import "tailwindcss";
@plugin "daisyui";
@theme{
    --spacing-mContainer:1440px;
    --spacing-mContainer2:1950px;
    --color-primary1:#E53E3E;
    --color-primary2:#E8E8E8;
    --color-primary3:#1A1A1A;
    --color-primary4:#F5F6F2;
    --color-primary5:#74787C;
    --color-primary6:#E7E7E7;
    --color-primary7:#E9E9E9;
    --color-primary7:#F1F1F1;
    --color-primary8:#E53E3E;
    --color-primary9:#D9D9D9;
    --color-primary10:#FFEDE3;
    --color-primary11:#D2C1B7;
    --color-primary12:#E5DCD7;
    --color-primary13:#EBEBEB;
    --color-primary14:#EAEAEA;
    --color-primary15:#E4E5EE;
    --color-primary16:#F6F6F7;
    --color-primary17:#7B7E86;
    
    --font-display-primary1: "Zalando Sans SemiExpanded", sans-serif; 

}